/* 
 #262f40 Темно-синий цвет  
 #f9c127 Ярко-желтый цвет  
 #889bbf Синий серо-голубой  
 #bfb488 Бежевый цвет  
 */
body {
  /* font-family: 'Verdana', sans-serif; */
  display: flex; /* Включаем Flexbox */
  justify-content: flex-start; /* Выравниваем содержимое по горизонтали */
  align-items: center; /* Выравниваем содержимое по вертикали */
  flex-direction: column; /* Располагаем контейнеры в колонку */
  height: 100vh; /* Используем всю высоту окна браузера */
  margin: 0;
  padding: 0;
  color: #f9c127; /* Ярко-желтый текст */
}
.nav-container {
  font-family: 'Verdana', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0px 0px;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding-right: 30px;
}
.nav-item-logo a {
  display: inline-block;
  color: #f9c127;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px 40px;
  transition: transform 0.3s ease-out;
  will-change: transform;
}
.nav-item-logo a:hover {
  display: inline-block;
  transform: scale(1.05);
}
.nav-item-menu ul {
  display: flex;
  gap: 50px;
}

.nav-item-menu ul li {
  list-style-type: none;
}
.nav-item-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}
.nav-item-menu a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 100%;
  width: 0%;
  height: 2px;
  background: #ff9800;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(0%);
}
.nav-item-menu a:hover {
  color: #ff9800;
  /* transform: scale(1.1); */
}

.nav-item-menu a:hover::after {
  width: 100%;
  left: 0;
}

.nav-item-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}
.toggle-bar {
  background-color: #fff;
  width: 35px;
  height: 5px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.nav-container.active .toggle-bar:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px) scale(0.8); /* Вращение, сдвиг и увеличение */
  border-radius: 10px; /* Добавление скругления для превращения в овал */
}

.nav-container.active .toggle-bar:nth-child(2) {
  /* transform: translateX(50px) scale(0); Скрытие с эффектом смещения и уменьшения размера */
  opacity: 0;
}

.nav-container.active .toggle-bar:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px) scale(0.8); /* Вращение, сдвиг и увеличение */
  border-radius: 10px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .nav-item-menu {
    display: none;
  }

  .nav-item-toggle {
    display: flex;
  }

  .nav-container.active .nav-item-menu {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  }

  .nav-item-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-item-menu a {
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
  }

  .nav-container.active .nav-item-menu ul {
    animation: slideIn 0.5s ease-out;
  }
}

/* Slide-in Animation for Mobile Menu */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
h1 {
  margin: auto;
}
.container_01 {
  margin-top: 70px;
  background-color: #ffffff;
  padding: 30px;
  padding-bottom: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
}
.container_02 {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.container_01 h1,
.container_02 h1 {
  color: #262f40; /* Темно-синий заголовок */
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

input[type='date'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #889bbf; /* Светло-синий цвет границы */
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

.result {
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #262f40; /* Темно-синий цвет текста результата */
}

/* Контейнер для поля суммы и валюты (расположение в одну строку) */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Отступ между полями */
  width: 100%;
  margin-bottom: 20px;
}

#amount {
  flex: 1;
  max-width: 90%;
  padding: 3%;
  font-size: 16px;
  border: 1px solid #889bbf;
  border-radius: 6px;
}

#currencySelect {
  flex: 1;
  max-width: 10%;
  padding: 3%;
  border: 1px solid #889bbf;
  border-radius: 6px;
  font-size: 15.5px;
  width: auto; /* Автоматическая ширина */
  min-width: 100px; /* Минимальная ширина */
  max-width: 140px; /* Максимальная ширина */
  white-space: nowrap; /* Запрещает перенос строк */
}

/* Выравниваем кнопки */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Расстояние между кнопками */
  margin-top: 10px; /* Отступ сверху от поля ввода */
}

/* Стили для всех кнопок "Добавить", "Очистить", "Подтвердить", чтобы они стали идентичными */
button,
#addButton,
#clearButton {
  padding: 3px 15px; /* Используем одинаковые отступы для всех кнопок */
  font-size: 20px; /* Используем одинаковый размер шрифта */
  font-weight: 500; /* Используем одинаковый стиль шрифта */
  background-color: #f9c127; /* Ярко-желтый фон */
  color: #262f40; /* Темно-синий цвет текста */
  border-radius: 10px; /* Радиус скругления одинаковый */
  border: none; /* Убираем рамки */
  line-height: 1.5; /* Добавляем одинаковое межстрочное расстояние для всех кнопок */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover,
#addButton:hover,
#clearButton:hover {
  background-color: #bfb488; /* Бежевый фон при наведении */
  cursor: pointer;
}

#resultContainer {
  padding-top: 1rem;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #888888;
}

/* Стили для "Итого в EUR" */
.total-eur {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1e3a5f;
  margin-top: 30px;
  background-color: #e4edf8;
  padding: 0.3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Стили для "Итого в BYN, USD, BYN" */
.total-usd,
.total-byn {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.1rem;
  padding: 0.3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.total-usd {
  background-color: rgba(250, 242, 214, 0.5) /* 50% прозрачности */; /* Мягкий желтый с легким оттенком золотистого */
  color: #2a3d3f; /* Темный оттенок серо-зеленого для контраста */
}

.total-byn {
  background-color: rgba(181, 220, 151, 0.5);
  color: #4a5d3b; /* Темно-зеленый цвет для текста, чтобы создать контраст */
}
@media (max-width: 768px) {
  body {
    padding: 0 10px;
    justify-content: flex-start;
  }

  h1 {
    font-size: 20px; /* Уменьшаем размер заголовков */
  }

  /* Уменьшаем размеры текста для других элементов */
  .result,
  #amount,
  #currencySelect {
    font-size: 14px;
  }
}
