/* 
 #262f40 Темно-синий цвет  
 #f9c127 Ярко-желтый цвет  
 #889bbf Синий серо-голубой  
 #bfb488 Бежевый цвет  
 */
body {
  display: flex; /* Включаем Flexbox */
  justify-content: flex-start; /* Выравниваем содержимое по горизонтали */
  align-items: center; /* Выравниваем содержимое по вертикали */
  flex-direction: column; /* Располагаем контейнеры в колонку */
  height: 100vh; /* Используем всю высоту окна браузера */
  margin: 0;
  padding: 0;
  color: #f9c127; /* Ярко-желтый текст */
}
h1 {
  margin: auto;
}
.container_01 {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 30px;
  padding-bottom: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
}
.container_02 {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.container_01 h1,
.container_02 h1 {
  color: #262f40; /* Темно-синий заголовок */
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

input[type='date'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #889bbf; /* Светло-синий цвет границы */
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

.result {
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #262f40; /* Темно-синий цвет текста результата */
}

/* Контейнер для поля суммы и валюты (расположение в одну строку) */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Отступ между полями */
  width: 100%;
  margin-bottom: 20px;
}

#amount {
  flex: 1;
  max-width: 90%;
  padding: 3%;
  font-size: 16px;
  border: 1px solid #889bbf;
  border-radius: 6px;
}

#currencySelect {
  flex: 1;
  max-width: 10%;
  padding: 3%;
  border: 1px solid #889bbf;
  border-radius: 6px;
  font-size: 15.5px;
  width: auto; /* Автоматическая ширина */
  min-width: 100px; /* Минимальная ширина */
  max-width: 140px; /* Максимальная ширина */
  white-space: nowrap; /* Запрещает перенос строк */
}

/* Выравниваем кнопки */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Расстояние между кнопками */
  margin-top: 10px; /* Отступ сверху от поля ввода */
}

/* Стили для всех кнопок "Добавить", "Очистить", "Подтвердить", чтобы они стали идентичными */
button,
#addButton,
#clearButton {
  padding: 3px 15px; /* Используем одинаковые отступы для всех кнопок */
  font-size: 20px; /* Используем одинаковый размер шрифта */
  font-weight: 500; /* Используем одинаковый стиль шрифта */
  background-color: #f9c127; /* Ярко-желтый фон */
  color: #262f40; /* Темно-синий цвет текста */
  border-radius: 10px; /* Радиус скругления одинаковый */
  border: none; /* Убираем рамки */
  line-height: 1.5; /* Добавляем одинаковое межстрочное расстояние для всех кнопок */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover,
#addButton:hover,
#clearButton:hover {
  background-color: #bfb488; /* Бежевый фон при наведении */
  cursor: pointer;
}

#resultContainer {
  padding-top: 1rem;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #888888;
}

/* Стили для "Итого в EUR" */
.total-eur {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1e3a5f;
  margin-top: 30px;
  background-color: #e4edf8;
  padding: 0.3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Стили для "Итого в BYN, USD, BYN" */
.total-usd,
.total-byn {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.1rem;
  padding: 0.3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.total-usd {
  background-color: rgba(250, 242, 214, 0.5) /* 50% прозрачности */; /* Мягкий желтый с легким оттенком золотистого */
  color: #2a3d3f; /* Темный оттенок серо-зеленого для контраста */
}

.total-byn {
  background-color: rgba(181, 220, 151, 0.5);
  color: #4a5d3b; /* Темно-зеленый цвет для текста, чтобы создать контраст */
}
@media (max-width: 768px) {
  body {
    padding: 0 10px;
    justify-content: flex-start;
  }

  h1 {
    font-size: 20px; /* Уменьшаем размер заголовков */
  }

  /* Уменьшаем размеры текста для других элементов */
  .result,
  #amount,
  #currencySelect {
    font-size: 14px;
  }
}
